body {
  margin: 0;
  font-family: 'monosten-e', sans-serif;
  font-size: 0.8rem;
  color: #3F3F3F;
  text-decoration: none;
  background-color: #FBFBFB;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #F5F5F5;
  color: #989eb3;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.cards-container { /*FLEX CONTAINER*/
  display: flex;
  /*height: 600px;*/

  flex-direction: row; /*row, column, row-reverse, column-reverse*/
  flex-wrap: wrap; /*wrap, nowrap*/
  justify-content: flex-start; /*flex-start, center, flex-end, space-around, space-between*/
  align-items: center;  /*flex-start, center, flex-end, stretch, baseline*/
  align-content: space-between; /*flex-start, center, flex-end, space-around, space-between*/

/*
PERFECT CENTERING
  justify-content: center;
  align-items: center;
*/  
}

.card { /*FLEX CONTAINER CHILDREN*/
  border: 1px solid #EFEFEF;
  border-radius: 8px;

  width: 250px;
  height: 300px;

  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 1.5em;
}

.card-section-top {
    height: 80%;
    background-color: #F9F9F9;
}

.card-section-bottom {
    height: 20%;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    border-top: 1px #EFEFEF solid;
}

img {
    max-width:100%;
    max-height:100%;
    width: auto;
    height: 100%;
}



.regulartext {
    color: #595c7c;
    font-size: 1.75rem;
    line-height: 2rem;
    vertical-align: baseline;
}

.sidenav-options {
    margin: 10%;
}

.sidenav a {
  display: block;
  color: #989eb3;
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
}
 
.sidenav a.active {
  background-color: #DDDDDD;
  color: black;
}

.sidenav a:hover:not(.active) {
  color: #3C3C3C;
}

.main {
  margin-left: 15%;
  padding: 0px;
}

.topnav {
	  width: 100%;
    height: 66px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;    
}

.content {
    margin-left: 2%;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}

.topnav-sitelogo {
    border: 1px green solid;
    margin-left: 2%;
    width: 8%;
    height: 80%;
}

.topnav-sitename {
  border: 1px green solid;
  margin-left: 2%;
  width: 8%;
  height: 80%;

  font-size: 1.5rem;
  text-align: left;
}

.topnav-searchbar {
    border: 1px green solid;
    margin-left: 2%;
    width: 40%;
    height: 80%;
}

.topnav-searchbutton {
    border: 1px green solid;
    margin-left: 2%;
    width: 20%;
    height: 80%;
}

.topnav-notificationicon {
    border: 1px green solid;
    margin-left: 2%;
    width: 5%;
    height: 80%;
}

.topnav-accounticon {
    border: 1px green solid;
    margin-left: 2%;
    width: 5%;
    height: 80%;
}









