body {
  margin: 0;
  font-family: 'Open Sans',serif;
  font-size: 8px;
  color: #3F3F3F;
  text-decoration: none;
  /*background-color: #FBFBFB;*/
  background-color: #fff;
}

.sidenav {
  margin: 0;
  padding: 0;
  width: 0%;
  background-color: #F5F5F5;
  color: #989eb3;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.cards-container { /*FLEX CONTAINER*/
  display: flex;
  /*height: 600px;*/

  flex-direction: row; /*row, column, row-reverse, column-reverse*/
  flex-wrap: wrap; /*wrap, nowrap*/
  justify-content: flex-start; /*flex-start, center, flex-end, space-around, space-between*/
  align-items: center;  /*flex-start, center, flex-end, stretch, baseline*/
  align-content: space-between; /*flex-start, center, flex-end, space-around, space-between*/
/*
PERFECT CENTERING
  justify-content: center;
  align-items: center;
*/  
}

.card { /*FLEX CONTAINER CHILDREN*/
  border: 1px solid #EFEFEF;
  border-radius: 8px;

  width: 240px;
  height: 300px;

  margin: 10px;
  text-align: center;
  line-height: 3em;
  font-size: 1.5em;
}

.card:hover {
  box-shadow: 0 2px 14px #EFEEEF;
  cursor: pointer;
}

.card-section-top {
    height: 240px;
    background-color: #F5F5F5;
}

.card-section-bottom {
    height: 59px;
    line-height: 59px;
    vertical-align: middle;
    background: #fff;
    border-top: 1px #EFEFEF solid;
    padding-left: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row; /*row, column, row-reverse, column-reverse*/
    flex-wrap: wrap; /*wrap, nowrap*/
    justify-content: flex-start; /*flex-start, center, flex-end, space-around, space-between*/
}

.card-section-bottom-left {
  width: 70%;
}

.card-section-bottom-right-icon {
  margin-left: 4%;
  width: 7%;
  color: #898989
}

.card-section-bottom-title {
  height: 30px;
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  color: #3F3F3F;
  font-weight: 600;
  vertical-align: middle;
}

.card-section-bottom-tags {
  height: 25px;
  line-height: 25px;
  text-align: left;
}

.card-section-bottom-tag {
  font-size: 0.6rem; /* 11.5px; */
  color: #898989;
  text-transform: uppercase;
  letter-spacing: 1px;  
  border-bottom: 1px solid #e1e1e1;
  vertical-align: middle;
}

img {
    max-width:100%;
    max-height:100%;
    width: auto;
    height: 100%;
}



.regulartext {
    color: #595c7c;
    font-size: 1.75rem;
    line-height: 2rem;
    vertical-align: baseline;
}

.sidenav-options {
    margin: 10%;
}

.sidenav a {
  display: block;
  color: #989eb3;
  padding-top: 10px;
  padding-left: 10px;
  text-decoration: none;
}
 
.sidenav a.active {
  background-color: #DDDDDD;
  color: black;
}

.sidenav a:hover:not(.active) {
  color: #3C3C3C;
}

.main {
  margin-left: 0%;
  padding: 0px;
}

.topnav {
    width: 100%;
    height: 66px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;    
}

.content {
    margin-left: 2%;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}

.topnav-child {
  height: 40px;
  vertical-align: middle;
}

.topnav-sitelogo {
  margin-left: 2%;
  width: 4%;
}

.topnav-sitename {
  width: 8%;

  font-size: 1.2rem;
  text-align: left;
  margin-top: 15px;
}

.topnav-searchbar {
    margin-left: 2%;
    width: 50%;
    background-color: white;
}

.topnav-newpostbutton {
    margin-left: 2%;
    width: 10%;
}

.topnav-usericon {
  margin-left: 2%;
  width: 40px;  
  height: 40px;
  border-radius: 50%;
}

.button {
  color: #F9F9F9;
  background-color: #3F3F3F;
  border: 1px solid #3F3F3F;

  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.6rem 1rem 0.4rem 1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.button:hover {
  background-color: #000000;
  border-color: #000000;
  cursor: pointer;
}

.userinput-textbox {
  border: 1px solid #FBFBFB;
  border-radius: 0.25rem;
  background: #F5F5F5;
  box-sizing: border-box; 
  padding-left: 10px;
}

 .userinput-textbox:focus {
  border: 1px solid #DEDEDE;
  border-radius: 0.25rem;
  background: #fff;
  box-sizing: border-box;
}

input:focus {outline:none;}

.button:focus {outline:none;}






